.upload-container{
    height: 55vh;
    width: 55vw;
    background-color: var(--color-dark-darker);
    border: 3px dashed white;
    border-radius: 5%;

    -webkit-animation: fadein 1.4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.4s; /* Firefox < 16 */
    -ms-animation: fadein 1.4s; /* Internet Explorer */
    -o-animation: fadein 1.4s; /* Opera < 12.1 */
    animation: fadein 1.4s;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.upload-container h2{
    font: 32px Montserrat, sans-serif;
    font-weight: 600;
    color: white;
}

.upload-container:hover{
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .upload-help-text h2{
        font-size: 50px;
    }
    .upload-container{
        height: 35vh;
        width: 80vw;
        margin: 2.5rem;
        border: 6px dashed white;
    }
}