$sidebar-bg-color: #8DB030;
$sidebar-color: #000000;
$highlight-color: #000000;
$submenu-bg-color: #BEDA77;
$submenu-bg-color-collapsed: #BEDA77;
$icon-bg-color: #BEDA77;

@import '~react-pro-sidebar/dist/scss/styles.scss';