.after-upload-container{
    position: relative;
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-container{
    margin-top: 1rem;
    width: 65%;
    height: 80%;
    background-color: var(--color-dark-darker);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid white;
}
.features{
    position: relative;
    border-radius: 10px;
    border: 2px solid white;
    background-color: var(--color-dark-darker);
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
}
.combobox{
    color: white;
    background-color: var(--color-dark-darker);
    border-radius: 5px;
    border: 2px solid white;
    height: 12vh;
    width: 15vw;
}

.download{
    top: 5%;
    right: 25%;
}

.results-container{
    position: absolute;
    width: 85%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.loading-container h1{
    font-size: 2rem;
    color: white;
}

.loading-container h2{
    color: white;
    margin-top: 1rem;
}

.results-card{
    position: relative;
    cursor: zoom-in;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    z-index: 1;
}

.results-card h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

.results-card img{
    border: solid 2px white;
    border-radius: 10px;
}

.cellImage {
    max-width: 50vw;
    max-height: 75vh;
}

.gear-icon {
    top: 5%;
    right: 5%;
}
.controlPanel {
    width: 35vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel {
    float: left;
    width: 100%;
    height: 50vh;
    border-radius: 10px;
    border: 2px solid white;
    align-items: center;
    margin: 1rem;
    background-color: var(--color-dark-darker);
}
@media screen and (max-width: 1000px) {
    .results-card {
        top: 20%;
        left: 0;
    }
    .features {
        width: 100%;
        top: 3%;
        left: 0;
        height: 15%;
    }
}