.after-upload-container{
    position: relative;
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-container{
    margin-top: 1rem;
    width: 65%;
    height: 80%;
    background-color: var(--color-dark-darker);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid white;
}
.features{
    position: absolute;
    right: 0;
    top: 0;
    float: left;
    width: 35%;
    height: 40%;
    border-radius: 10px;
    border: 2px solid white;
    align-items: center;
    background-color: var(--color-dark-darker);
}
.combobox{
    position: relative;
    color: white;
    background-color: var(--color-dark-darker);
    border-radius: 5px;
    border: 2px solid white;
    width: 50%;
    left: 3%;
    top: 5%;
}

.download{
    position: absolute;
    top: 5%;
    right: 25%;
}

.results-container{
    position: absolute;
    width: 85%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loading-container h1{
    font-size: 2rem;
    color: white;
}

.loading-container h2{
    color: white;
    margin-top: 1rem;
}

.results-card{
    position: absolute;
    cursor: zoom-in;
}

.results-card h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

.results-card img{
    border: solid 2px white;
    border-radius: 10px;
}

.cellImage {
    max-width: 600px;
    max-height: 500px;
}
.gear-icon {
    position: absolute;
    top: 5%;
    right: 5%;
}

.carousel {
    position: absolute;
    right: 0;
    bottom: 0;
    float: left;
    width: 35%;
    height: 45%;
    border-radius: 10px;
    border: 2px solid white;
    align-items: center;
    background-color: var(--color-dark-darker);
}
@media screen and (max-width: 1000px) {
    .results-card {
        top: 20%;
        left: 0;
    }
    .features {
        width: 100%;
        top: 3%;
        left: 0;
        height: 15%;
    }
}