$sidebar-bg-color: #412A7E;
$sidebar-color: #ffffff;
$highlight-color: #ffffff;
$submenu-bg-color: #4E3399;
$submenu-bg-color-collapsed: #4E3399;
$icon-bg-color: #4E3399;

@import '~react-pro-sidebar/dist/scss/styles.scss';