$sidebar-bg-color: #252631;
$sidebar-color: #ffffff;
$highlight-color: #ffffff;
$submenu-bg-color: #2d2f3f;
$submenu-bg-color-collapsed: #252631;
$icon-bg-color: #2d2f3f;

@import '~react-pro-sidebar/dist/scss/styles.scss';