.navbar{
    width: 100vw;
    height: 11vh;
    background-color: var(--color-dark-darker);
    display: flex;
    align-items: center;
}

.navbar img{
    width: 54px;
    margin-left: 1rem;
}

.nav-title{
    display: flex;
    height: 100%;
    margin: 0 2rem;
    align-items: center;
}

.navbar h1{
    display: inline;
    font: 42px Montserrat, sans-serif;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar a{
    color: inherit;
}

.nav-icons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-icon{
    margin: 0 1rem;
}

.resizeIcons {
    font-size: 34px;
}
@media only screen and (max-width: 1000px) {
    .resizeIcons {
        font-size: 4vmax;
    }
    .navbar img {
        font-size: 5vmax;
        width: 6vw;
    }
    .nav-title h1 {
        font-size: 4vmax;
    }
}