:root{
    --color-dark: rgb(104, 71, 194);
    --color-dark-hover:rgb(45, 47, 63);
    --color-dark-darker: rgb(65, 42, 126);
    --color-black: #242424;
    --color-green: #25ce4a;
    --color-red: #f00946;
    --color-blue: #276afb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}   

#particles-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    z-index: -1;
    background-color: var(--color-dark);
    background-size: cover;
}