.homepage-container{
    background: transparent;
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.carousel-models {
    background: transparent;
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.carousel-models h1{
    margin: 1rem;
    color: white;
    position: relative;
    top: 3%;
    font: 1.5rem Montserrat, sans-serif;
    background-color: var(--color-dark-darker);
    border-radius: 10px;
    border: 2px solid white;
    padding: 1rem;
    font-weight: 600;
    text-align: center;
}

.cropper{
    overflow: hidden;
    border-radius: 5%;
    border: 6px solid white;
}

.carousel-models img {
    background-color: var(--color-dark-darker);
    max-height: 55vh;
    max-width: 30vw;
    width: auto;
    height: auto;
    cursor: pointer;
    margin: -2vh -1.8vw -2vh -1.8vw;
}

.container {
    position: relative;
    overflow: hidden;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(37,38,49,0.6);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 15vw;
  }

.backIcon {
    position: fixed;
    top: 5rem;
    left: 8px;
    font-size: 4vmax;
    cursor: pointer;
}

.homepage-container button{
    color: white;
    font: 1rem Montserrat, sans-serif;
    margin: 1rem;
    background-color: var(--color-dark-darker);
    border-radius: 10px;
    border: 2px solid white;
    padding: 0.5rem;
    font-weight: 600;
}

.homepage-container button:hover{background-color: var(--color-dark-hover);}

.upload-container-model {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.upload-help-text{
    width: 80%;
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.info-card{
    background-color: var(--color-dark-darker);
    width: auto;
    height: auto;
    max-width: 20vw;
    margin-bottom: 1rem;
    margin-top: 1rem;
    animation: fadein 1.8s;
    border-radius: 3%;
    border: 4px solid white;
    -webkit-animation: fadein 1.4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.4s; /* Firefox < 16 */
    -ms-animation: fadein 1.4s; /* Internet Explorer */
    -o-animation: fadein 1.4s; /* Opera < 12.1 */
    animation: fadein 1.4s;
    cursor: pointer;
}

.info-card:hover{
    cursor: pointer;
}

@keyframes fadein{
    from { opacity: 0.3; }
    to { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0.3; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0.3; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0.3; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0.3; }
    to   { opacity: 1; }
}

.info-card img{
    width: 100%;
    height: 100%;
}

.svgImage{
    filter: invert(45%) sepia(76%) saturate(2361%) hue-rotate(174deg) brightness(106%) contrast(102%);
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
    .homepage-container{
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: center;
    }
    .info-container{
        width: 90vw;
        height: 30vh;
        flex-direction: row;
    }
    .info-card{
        margin: 1.5rem;
        width: 50vw;
        height: 25vh;
        border: 6px solid white;
    }

    .selection-image {
        width: 85vw;
        height: 40vh;
    }

    .homepage-container button{
        font: 2rem Montserrat, sans-serif;
        border: 6px solid white;
        font-weight: 600;
        border-radius: 2rem;
        padding: 1.5rem;
    }

    .carousel-models h1 {
        font-size: 3rem;
        border: 6px solid white;
        padding: 3rem;
        width: 80vw;    
    }

    .backIcon{
        top: 13rem;
        font-size: 6vmax;
    }
    .container img{
        max-width: 70vw;
        max-height: 75vh;
        
        width: auto;
        height: auto;
    }
    .text-block{
        font-size: 2.5rem;
        max-width: 45vw;
    }
    .info-card{
        max-width: 40vw;
        max-height: 20vh;
    }
}
