.homepage-container-body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: left;
    position: fixed;
    
}
.background-bg{
    opacity: 0.3;
    position: absolute;
    right: 0;
    bottom:0;
    max-width: 20rem;
}
.pro-sidebar{
    position: fixed;
}
.homepage-container{
    position: absolute;
    background: transparent;
    height: 100vh;
    width: 90vw;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    margin-left: 6rem;
    overflow-y:auto;
}

.homepage-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: grey;
}

.homepage-container::-webkit-scrollbar
{
	width: 12px;
	background-color: var(--color-dark-darker);
}

.homepage-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--color-dark-darker);
}

.carousel-models {
    background: transparent;
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.btn-toggle {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    background: var(--color-dark-darker);
    color: #000;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    position: fixed;
    margin-left: 1rem;
}

.styling-carousel{
    height: 85vh;
    width: 100vw;
    margin-top: 5rem;
    
}

.rec.rec-arrow {
    color: black;
}

.rec.rec-arrow:hover {
    color: black;
}

button.rec-dot{
    background-color: var(--color-dark);
    box-shadow: 0 0 1px 3px var(--color-dark-text);
  }
  
button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
    box-shadow: 0 0 1px 3px var(--color-dark-darker);
    background-color: var(--color-dark-darker);
}

.carousel-models h1{
    margin: 2rem;
    margin-top: 10rem;
    color: var(--color-dark-text);
    position: relative;
    top: 3%;
    font: 1.5rem Montserrat, sans-serif;
    background-color: var(--color-dark-darker);
    border-radius: 10px;
    border: 2px solid var(--color-dark-text);
    padding: 1rem;
    font-weight: 600;
    text-align: center;
}

.cropper{
    overflow: hidden;
    border-radius: 5%;
    border: 4px solid var(--color-dark-text);;
}

.carousel-models img {
    background-color: var(--color-dark-darker);
    max-height: 55vh;
    max-width: 30vw;
    width: auto;
    height: auto;
    cursor: pointer;
    margin: -2vh -1.8vw -2vh -1.8vw;
}

.container {
    position: relative;
    overflow: hidden;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-dark-darker);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 15vw;
  }

.backIcon {
    position: absolute;
    top: 12vh;
    left: 8px;
    font-size: 3rem;
    cursor: pointer;
}

.pick-model{
    display: flex;
    flex-direction: column;
}

.homepage-container button:hover{background-color: var(--color-dark-hover);}

.upload-container-model {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.upload-help-text{
    width: 80%;
}


.info-card{
    background-color: var(--color-dark-darker);
    width: auto;
    height: auto;
    max-width: 20vw;
    margin-bottom: 1rem;
    margin-top: 1rem;
    animation: fadein 1.8s;
    border-radius: 3%;
    border: 3px solid var(--color-dark-text);;
    -webkit-animation: fadein 1.4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.4s; /* Firefox < 16 */
    -ms-animation: fadein 1.4s; /* Internet Explorer */
    -o-animation: fadein 1.4s; /* Opera < 12.1 */
    animation: fadein 1.4s;
    cursor: pointer;
}

.info-card:hover{
    cursor: pointer;
}

.uploadbs {
    position: fixed;
    z-index: 1600;
    margin-bottom: 2rem;
}

@keyframes fadein{
    from { opacity: 0.3; }
    to { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0.3; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0.3; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0.3; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0.3; }
    to   { opacity: 1; }
}

.info-card img{
    width: 100%;
    height: 100%;
}

.svgImage{
    filter: invert(45%) sepia(76%) saturate(2361%) hue-rotate(174deg) brightness(106%) contrast(102%);
}

@media screen and (max-width: 1000px) and (orientation: portrait) {

    .info-container{
        width: 90vw;
        height: 30vh;
        flex-direction: row;
    }
    .info-card{
        margin: 1.5rem;
        width: 50vw;
        height: 25vh;
        border: 6px solid var(--color-dark-text);;
    }

    .selection-image {
        width: 85vw;
        height: 40vh;
    }

    .model-button{
        font: 1.5rem Montserrat, sans-serif;
        border: 3px solid var(--color-dark-text);;
        font-weight: 600;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }

    .carousel-models h1 {
        font-size: 3rem;
        border: 6px solid var(--color-dark-text);;
        padding: 3rem;
        width: 80vw;    
    }

    .container img{
        max-width: 70vw;
        max-height: 75vh;
        
        width: auto;
        height: auto;
    }
    .text-block{
        font-size: 2.5rem;
        max-width: 45vw;
    }
    .info-card{
        max-width: 40vw;
        max-height: 20vh;
    }
}
