.inner-modal-container{
    border: 3px solid white;
    border-radius: 10px;
    height: 65vh;
    width: 30vw;
    background-color: var(--color-dark-darker);
}

.inner-modal-container span{    
    color: white;
    font: 1rem Montserrat, sans-serif;
    margin: 2rem;
    font-weight: 600;
}

.switch {
   margin-top: 1.5rem;
}
