.inner-modal-container{
    border: 3px solid white;
    border-radius: 10px;
    height: 65vh;
    width: 30vw;
    background-color: var(--color-dark-darker);
}

.inner-modal-container h5{
    color: white;
    font-size: 1.4rem;
    margin: 12px 0 8px 12px;
    font-weight: 500;
}

.custom-slider-container{
    width: 60%;
    margin-left: 12px;
}